<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Movie Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movie Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="movie">
    <ion-img [src]="getImageUrl(movie.poster_path)"></ion-img>
    <h2>{{ movie.title }}</h2>
    <p>Release Date: {{ movie.release_date | date }}</p>
    <p>Genres: {{ getGenres() }}</p>
    <p>{{ movie.overview }}</p>
  </div>
</ion-content>
