<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recipe Finder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recipe Finder</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="searchRecipes()"
  ></ion-searchbar>

  <ion-list>
    <ion-item
      *ngFor="let recipe of recipes"
      [routerLink]="['/recipe-details', recipe.id]"
    >
      <ion-thumbnail slot="start">
        <img [src]="recipe.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ recipe.title }}</h2>
        <p>{{ recipe.summary | slice:0:100 }}...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
