<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="searchMovies()"
  ></ion-searchbar>
  <ion-list>
    <ion-item
      *ngFor="let movie of movies"
      [routerLink]="['/movie-details', movie.id]"
    >
      <ion-thumbnail slot="start">
        <img [src]="getImageUrl(movie.poster_path)" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.release_date | date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
