<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> My Cute Map App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Cute Map App </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="getCurrentLocation()">Get Current Location</ion-button>
    <ion-button (click)="displayMap()">Display Map</ion-button>
    <h3>Latitude: {{ lat }}</h3>
    <h3>Longitude: {{ long }}</h3>

    <div id="map-container">
      <capacitor-google-map #map></capacitor-google-map>
    </div>
  </div>
</ion-content>
