<ion-header>
  <ion-toolbar>
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Data Persistence Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Ener a name and age:</p>
  <ion-input placeholder="Enter name" [(ngModel)]="nameFromUI"></ion-input>
  <ion-input placeholder="Enter age" [(ngModel)]="ageFromUI"></ion-input>
  <ion-button (click)="savePressed()">Save data</ion-button>
  <ion-button (click)="retrievePressed()">Retrieve data</ion-button>

  <ion-list>
    <ion-item *ngFor="let currScore of testScores">
      <p>Test Score: {{ currScore }}</p>
    </ion-item>
  </ion-list>
</ion-content>
